.login * {
  margin: 0;
  padding: 0;
}

.login {
  max-width: 432px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  border: 1px solid #ebeef5;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  margin: 160px auto 0;
  padding: 44px 28px;
  background-color: #fff;
}

.login-logo {
  text-align: center;
}

.login-title {
  text-align: center;
  color: #303133;
  font-size: 20px;
  margin: 16px 0;
}

.login-form {
  margin-bottom: 24px;
}

.login-input-form {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 36px;
  align-items: center;
  width: 100%;
}

.login-icon-form {
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f7fa;
  border-right: 1px solid #ddd;
  height: 100%;
}

.login-icon-form svg {
  color: #777;
  font-size: 20px;
}

.login-input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 14px;
  color: #333;
}

.login-btn-submit {
  background-color: #409eff;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  height: 40px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.login-btn-submit:hover {
  background-color: #57abff;
}

.isValid {
  font-size: 14px;
  color: red;
  margin: 0;
}
